<!DOCTYPE html>
<head>
 <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
 <script>
  L_NO_TOUCH = false;
            L_DISABLE_3D = false;
 </script>
 <style>
  html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
 </style>
 <style>
  #map {position:absolute;top:0;bottom:0;right:0;left:0;}
 </style>
 <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js">
 </script>
 <script src="https://code.jquery.com/jquery-1.12.4.min.js">
 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js">
 </script>
 <link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
 <link href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" rel="stylesheet"/>
 <meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
 <style>
  #map_37aba5ec87cb4c33bd5318df5da4f219 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
 </style>
</head>
<body>
 <a href="">
  <i class="fa fa-refresh" style="font-size:36px; position: fixed; right: auto; z-index: 100000; margin-left: 95%; margin-top: 2%">
  </i>
 </a>
 <div class="folium-map" id="map_37aba5ec87cb4c33bd5318df5da4f219">
 </div>
</body>
<script>
 var map_37aba5ec87cb4c33bd5318df5da4f219 = L.map(
                "map_37aba5ec87cb4c33bd5318df5da4f219",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d82906be0f374b909957492f4d702d60 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
            var marker_bbeba125672d4cafb07640c1164d30ba = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_a590f58547d0423da8bd54a81a64218a = L.popup({"maxWidth": "100%"});

        
            var html_8007fb264f8e4d7ab2877650f61e5986 = $(`<div id="html_8007fb264f8e4d7ab2877650f61e5986" style="width: 100.0%; height: 100.0%;">The Trump Building</div>`)[0];
            popup_a590f58547d0423da8bd54a81a64218a.setContent(html_8007fb264f8e4d7ab2877650f61e5986);
        

        marker_bbeba125672d4cafb07640c1164d30ba.bindPopup(popup_a590f58547d0423da8bd54a81a64218a)
        ;

        
    
    
            var marker_ca5b5054ffa6428c96ad96aa47cb7d61 = L.marker(
                [26.6279798, -80.4494174],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_0a30d36860fa4dc8ab13aff54754bc2b = L.popup({"maxWidth": "100%"});

        
            var html_d3da1eb6a8b64cc4a8616526118e4400 = $(`<div id="html_d3da1eb6a8b64cc4a8616526118e4400" style="width: 100.0%; height: 100.0%;">Trump Mar-A-Lago</div>`)[0];
            popup_0a30d36860fa4dc8ab13aff54754bc2b.setContent(html_d3da1eb6a8b64cc4a8616526118e4400);
        

        marker_ca5b5054ffa6428c96ad96aa47cb7d61.bindPopup(popup_0a30d36860fa4dc8ab13aff54754bc2b)
        ;

        
    
    
            var marker_9de5f61b9c074a34abda25d0d38ca483 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_af58777460fc49baaa7dcc207dd2a70f = L.popup({"maxWidth": "100%"});

        
            var html_3104d03bb7d9434ca320fd2d3130eefb = $(`<div id="html_3104d03bb7d9434ca320fd2d3130eefb" style="width: 100.0%; height: 100.0%;">trumpstore</div>`)[0];
            popup_af58777460fc49baaa7dcc207dd2a70f.setContent(html_3104d03bb7d9434ca320fd2d3130eefb);
        

        marker_9de5f61b9c074a34abda25d0d38ca483.bindPopup(popup_af58777460fc49baaa7dcc207dd2a70f)
        ;

        
    
    
            var marker_2a15d30356f74adcbf199fabe2d1fee4 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_b11a16ed003140b3a32d73670a23627f = L.popup({"maxWidth": "100%"});

        
            var html_5034eab1c8b04eabb449ba8cb9ab5d8c = $(`<div id="html_5034eab1c8b04eabb449ba8cb9ab5d8c" style="width: 100.0%; height: 100.0%;">MELANIA TRUMP</div>`)[0];
            popup_b11a16ed003140b3a32d73670a23627f.setContent(html_5034eab1c8b04eabb449ba8cb9ab5d8c);
        

        marker_2a15d30356f74adcbf199fabe2d1fee4.bindPopup(popup_b11a16ed003140b3a32d73670a23627f)
        ;

        
    
    
            var marker_712d65519a8047b3b903d06eb410fecf = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_2a89a0bfaeaf464488ef66568c94f634 = L.popup({"maxWidth": "100%"});

        
            var html_67b7af1cf7144db88c5d9b8371541ac9 = $(`<div id="html_67b7af1cf7144db88c5d9b8371541ac9" style="width: 100.0%; height: 100.0%;">Suzie Mills</div>`)[0];
            popup_2a89a0bfaeaf464488ef66568c94f634.setContent(html_67b7af1cf7144db88c5d9b8371541ac9);
        

        marker_712d65519a8047b3b903d06eb410fecf.bindPopup(popup_2a89a0bfaeaf464488ef66568c94f634)
        ;

        
    
    
            var marker_b72b085844994cb8979ebecd24168a3e = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_538eb314571042e29aab0535f6297cb0 = L.popup({"maxWidth": "100%"});

        
            var html_5d8f5a99a98f4c1bb1efcc9f80152840 = $(`<div id="html_5d8f5a99a98f4c1bb1efcc9f80152840" style="width: 100.0%; height: 100.0%;">Mickael Damelincourt</div>`)[0];
            popup_538eb314571042e29aab0535f6297cb0.setContent(html_5d8f5a99a98f4c1bb1efcc9f80152840);
        

        marker_b72b085844994cb8979ebecd24168a3e.bindPopup(popup_538eb314571042e29aab0535f6297cb0)
        ;

        
    
    
            var marker_ab4b9f39147845ca84a2bd26d6f9cb78 = L.marker(
                [38.0360726, -78.49973472559668],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_bc86764157714a05947b292e8190cf79 = L.popup({"maxWidth": "100%"});

        
            var html_e6db018487434b9f97c7032d03cd6c61 = $(`<div id="html_e6db018487434b9f97c7032d03cd6c61" style="width: 100.0%; height: 100.0%;">Kerry Hannon Woolard</div>`)[0];
            popup_bc86764157714a05947b292e8190cf79.setContent(html_e6db018487434b9f97c7032d03cd6c61);
        

        marker_ab4b9f39147845ca84a2bd26d6f9cb78.bindPopup(popup_bc86764157714a05947b292e8190cf79)
        ;

        
    
    
            var marker_d76e3829846a4b43adacd7d2b7ceddf5 = L.marker(
                [38.0360726, -78.49973472559668],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_6a2d59b8dcdf4b8dbf33a6c17167917d = L.popup({"maxWidth": "100%"});

        
            var html_4743e6081dd94b898559a3adcd4d374f = $(`<div id="html_4743e6081dd94b898559a3adcd4d374f" style="width: 100.0%; height: 100.0%;">TrumpAlbemarleEstate</div>`)[0];
            popup_6a2d59b8dcdf4b8dbf33a6c17167917d.setContent(html_4743e6081dd94b898559a3adcd4d374f);
        

        marker_d76e3829846a4b43adacd7d2b7ceddf5.bindPopup(popup_6a2d59b8dcdf4b8dbf33a6c17167917d)
        ;

        
    
    
            var marker_0f220ed96373491291597ea4edca29ee = L.marker(
                [40.7827725, -73.9653627406542],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_183abe5345e244b9ab53e969b6340314 = L.popup({"maxWidth": "100%"});

        
            var html_bcf122b1237343218aecd40c38a7e0e5 = $(`<div id="html_bcf122b1237343218aecd40c38a7e0e5" style="width: 100.0%; height: 100.0%;">Wollman Rink ⛸</div>`)[0];
            popup_183abe5345e244b9ab53e969b6340314.setContent(html_bcf122b1237343218aecd40c38a7e0e5);
        

        marker_0f220ed96373491291597ea4edca29ee.bindPopup(popup_183abe5345e244b9ab53e969b6340314)
        ;

        
    
    
            var marker_fffa8aa94022430d82f88ca310906cab = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_a9b1892136e24cdcb2f0ec91c4748f03 = L.popup({"maxWidth": "100%"});

        
            var html_06205fae672640d195fc84828c87329a = $(`<div id="html_06205fae672640d195fc84828c87329a" style="width: 100.0%; height: 100.0%;">Lara Trump</div>`)[0];
            popup_a9b1892136e24cdcb2f0ec91c4748f03.setContent(html_06205fae672640d195fc84828c87329a);
        

        marker_fffa8aa94022430d82f88ca310906cab.bindPopup(popup_a9b1892136e24cdcb2f0ec91c4748f03)
        ;

        
    
    
            var marker_5cfc9a98e31144c2bdf92c3cacbcfcb0 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_0adf2a18cb9d419496f23702c37e56ba = L.popup({"maxWidth": "100%"});

        
            var html_aa2ffa0947f942e78cbddb813458619e = $(`<div id="html_aa2ffa0947f942e78cbddb813458619e" style="width: 100.0%; height: 100.0%;">Matthew LaDolcetta</div>`)[0];
            popup_0adf2a18cb9d419496f23702c37e56ba.setContent(html_aa2ffa0947f942e78cbddb813458619e);
        

        marker_5cfc9a98e31144c2bdf92c3cacbcfcb0.bindPopup(popup_0adf2a18cb9d419496f23702c37e56ba)
        ;

        
    
    
            var marker_b14e2e45d2874e8e8ec595eaae64e30d = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_3157299435d141f2b7bbcac2e244cf1f = L.popup({"maxWidth": "100%"});

        
            var html_03ca481a79e74cf0bef34c81e98e1c59 = $(`<div id="html_03ca481a79e74cf0bef34c81e98e1c59" style="width: 100.0%; height: 100.0%;">Tiffany Ariana Trump</div>`)[0];
            popup_3157299435d141f2b7bbcac2e244cf1f.setContent(html_03ca481a79e74cf0bef34c81e98e1c59);
        

        marker_b14e2e45d2874e8e8ec595eaae64e30d.bindPopup(popup_3157299435d141f2b7bbcac2e244cf1f)
        ;

        
    
    
            var marker_17fd868756564a2998c3c75d86a0cf34 = L.marker(
                [49.2608724, -123.1139529],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_226632eb40d2477c89ae7d8e92f7accd = L.popup({"maxWidth": "100%"});

        
            var html_e5363f4fb0a647a89cbb6b512d177bcb = $(`<div id="html_e5363f4fb0a647a89cbb6b512d177bcb" style="width: 100.0%; height: 100.0%;">Trump Vancouver</div>`)[0];
            popup_226632eb40d2477c89ae7d8e92f7accd.setContent(html_e5363f4fb0a647a89cbb6b512d177bcb);
        

        marker_17fd868756564a2998c3c75d86a0cf34.bindPopup(popup_226632eb40d2477c89ae7d8e92f7accd)
        ;

        
    
    
            var marker_6feb17fcba434d12807afd868da59cf7 = L.marker(
                [25.0608769, 55.3127287],
                {}
            ).addTo(map_37aba5ec87cb4c33bd5318df5da4f219);
        
    
        var popup_b15ed3c492f6492c9f6ffa26017db578 = L.popup({"maxWidth": "100%"});

        
            var html_de8c1e08f042494b9645e70b60303fad = $(`<div id="html_de8c1e08f042494b9645e70b60303fad" style="width: 100.0%; height: 100.0%;">Trump Dubai</div>`)[0];
            popup_b15ed3c492f6492c9f6ffa26017db578.setContent(html_de8c1e08f042494b9645e70b60303fad);
        

        marker_6feb17fcba434d12807afd868da59cf7.bindPopup(popup_b15ed3c492f6492c9f6ffa26017db578)
        ;
</script>